<li class="project-item">
  <dl class="project-dl">
    <dt>
      <h3>资产登记专区</h3>
    </dt>
    <dd>
      <h4 class="project-val">提供资产登记服务
        <em class="glyphicon glyphicon-chevron-right"></em>
      </h4>
    </dd>
    <dd style="position: relative;">
      <div class="project-sum animateNum" data-animatetarget="999.9">
      </div>
      <em class="project-unit ">万元</em>
    </dd>
    <dd>
      <p class="project-tip">总登记金额</p>
    </dd>
    <dd>
      <a href="javascript:;" class=" yzs-btn project-enter text-center">进入专区</a>
    </dd>
  </dl>
</li>
<script>
  $('body').running();

</script>
